# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Import applicants_data.csv to Google Colab
from google.colab import files
uploaded = files.upload()

Saving applicants_data.csv to applicants_data (5).csv

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df = applicant_data_df.drop(columns=["EIN","NAME"])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables=list(applicant_data_df.dtypes[applicant_data_df.dtypes=="object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
    
)

# Review the DataFrame
encoded_df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df.drop(columns=["APPLICATION_TYPE","AFFILIATION","CLASSIFICATION","USE_CASE",
                                               "ORGANIZATION","INCOME_AMT", "SPECIAL_CONSIDERATIONS"]), encoded_df], axis=1) 


# Review the DataFrame
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Display a sample of y
y

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test =  train_test_split(X, y , random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 116

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [21]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_input_features, activation="sigmoid"))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 116)               3480

=================================================================
Total params: 11,977
Trainable params: 11,977
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Fit the model using 50 epochs and the training data

model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: -9455584.0000 - accuracy: 0.9517
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: -50675596.0000 - accuracy: 0.9999
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: -140792208.0000 - accuracy: 1.0000
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: -283916000.0000 - accuracy: 1.0000
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: -484116832.0000 - accuracy: 1.0000
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: -784906368.0000 - accuracy: 1.0000
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: -1172103040.0000 - accuracy: 1.0000
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: -1652188288.0000 - accuracy: 1.0000
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: -2263051008.0000 - accuracy: 1.0000
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: -2983097856.0000 - accuracy: 1.0000
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: -3808698624.0000 - accuracy: 1.0000
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: -4773943808.0000 - accuracy: 1.0000
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: -5826095616.0000 - accuracy: 1.0000
Epoch 14/50
804/804 [==============================] - 3s 4ms/step - loss: -7034669056.0000 - accuracy: 1.0000
Epoch 15/50
804/804 [==============================] - 3s 3ms/step - loss: -8489140736.0000 - accuracy: 1.0000
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: -10081474560.0000 - accuracy: 1.0000
Epoch 17/50
804/804 [==============================] - 3s 4ms/step - loss: -11770517504.0000 - accuracy: 1.0000
Epoch 18/50
804/804 [==============================] - 3s 4ms/step - loss: -13651102720.0000 - accuracy: 1.0000
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: -15513542656.0000 - accuracy: 1.0000
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: -17603489792.0000 - accuracy: 1.0000
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: -20076716032.0000 - accuracy: 1.0000
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: -22804707328.0000 - accuracy: 1.0000
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: -25881288704.0000 - accuracy: 1.0000
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: -29126875136.0000 - accuracy: 1.0000
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: -32383371264.0000 - accuracy: 1.0000
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: -35889139712.0000 - accuracy: 1.0000
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: -39687630848.0000 - accuracy: 1.0000
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: -43873013760.0000 - accuracy: 1.0000
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: -48294674432.0000 - accuracy: 1.0000
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: -52793225216.0000 - accuracy: 1.0000
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: -57857978368.0000 - accuracy: 1.0000
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: -62930259968.0000 - accuracy: 1.0000
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: -68240072704.0000 - accuracy: 1.0000
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: -73974038528.0000 - accuracy: 1.0000
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: -80456818688.0000 - accuracy: 1.0000
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: -87070408704.0000 - accuracy: 1.0000
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: -93673463808.0000 - accuracy: 1.0000
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: -100428054528.0000 - accuracy: 1.0000
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: -107923652608.0000 - accuracy: 1.0000
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: -115947053056.0000 - accuracy: 1.0000
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: -123950833664.0000 - accuracy: 1.0000
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: -132305502208.0000 - accuracy: 1.0000
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: -141014384640.0000 - accuracy: 1.0000
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: -150568976384.0000 - accuracy: 1.0000
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: -160749715456.0000 - accuracy: 1.0000
Epoch 46/50
804/804 [==============================] - 4s 4ms/step - loss: -170792615936.0000 - accuracy: 1.0000
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: -181288681472.0000 - accuracy: 1.0000
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: -192272138240.0000 - accuracy: 1.0000
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: -203812716544.0000 - accuracy: 1.0000
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: -214873260032.0000 - accuracy: 1.0000

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: -1.8572e+11 - accuracy: 1.0000 - 660ms/epoch - 2ms/step
Loss: -185718718464.0, Accuracy: 1.0

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [51]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

# Download your model to your computer
files.download(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0]) 

# Review the number of features
number_input_features

116

In [29]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 116

In [30]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_output_neurons_A1 + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [31]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1_A1 + 1) // 2

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

29

In [32]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 = (hidden_nodes_layer2_A1 + 1) // 2

# Review the number of hidden nodes in the second layer
hidden_nodes_layer3_A1

15

In [33]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [34]:
from keras.layers.attention.multi_head_attention import activation

# First hidden layer
nn_A1.add(Dropout(0.2, input_shape=(number_output_neurons_A1,)))
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_output_neurons_A1, activation="relu"))
# second hidden layer
nn_A1.add(Dense(hidden_nodes_layer2_A1, activation="relu"))
# Third hidden layer
nn_A1.add(Dense(hidden_nodes_layer3_A1, activation="relu"))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="softmax"))

# Check the structure of the model

nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dropout (Dropout)           (None, 116)               0

 dense_3 (Dense)             (None, 58)                6786

 dense_4 (Dense)             (None, 29)                1711

 dense_5 (Dense)             (None, 15)                450

 dense_6 (Dense)             (None, 116)               1856

=================================================================
Total params: 10,803
Trainable params: 10,803
Non-trainable params: 0
_________________________________________________________________

In [35]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [36]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=30)

Epoch 1/30
804/804 [==============================] - 3s 3ms/step - loss: -9711343.0000 - accuracy: 0.7874
Epoch 2/30
804/804 [==============================] - 3s 3ms/step - loss: -88331800.0000 - accuracy: 1.0000
Epoch 3/30
804/804 [==============================] - 2s 3ms/step - loss: -446761120.0000 - accuracy: 1.0000
Epoch 4/30
804/804 [==============================] - 2s 3ms/step - loss: -1173538048.0000 - accuracy: 1.0000
Epoch 5/30
804/804 [==============================] - 3s 3ms/step - loss: -2939134976.0000 - accuracy: 1.0000
Epoch 6/30
804/804 [==============================] - 3s 3ms/step - loss: -5670327808.0000 - accuracy: 1.0000
Epoch 7/30
804/804 [==============================] - 3s 4ms/step - loss: -9787336704.0000 - accuracy: 1.0000
Epoch 8/30
804/804 [==============================] - 3s 3ms/step - loss: -15248882688.0000 - accuracy: 1.0000
Epoch 9/30
804/804 [==============================] - 3s 3ms/step - loss: -23236360192.0000 - accuracy: 1.0000
Epoch 10/30
804/804 [==============================] - 3s 3ms/step - loss: -30703833088.0000 - accuracy: 1.0000
Epoch 11/30
804/804 [==============================] - 3s 3ms/step - loss: -43393134592.0000 - accuracy: 1.0000
Epoch 12/30
804/804 [==============================] - 3s 3ms/step - loss: -54349914112.0000 - accuracy: 1.0000
Epoch 13/30
804/804 [==============================] - 3s 3ms/step - loss: -70179897344.0000 - accuracy: 1.0000
Epoch 14/30
804/804 [==============================] - 4s 4ms/step - loss: -93984350208.0000 - accuracy: 1.0000
Epoch 15/30
804/804 [==============================] - 2s 3ms/step - loss: -113766301696.0000 - accuracy: 1.0000
Epoch 16/30
804/804 [==============================] - 2s 3ms/step - loss: -149795127296.0000 - accuracy: 1.0000
Epoch 17/30
804/804 [==============================] - 2s 3ms/step - loss: -169987080192.0000 - accuracy: 1.0000
Epoch 18/30
804/804 [==============================] - 3s 3ms/step - loss: -189248651264.0000 - accuracy: 1.0000
Epoch 19/30
804/804 [==============================] - 3s 3ms/step - loss: -240186015744.0000 - accuracy: 1.0000
Epoch 20/30
804/804 [==============================] - 2s 3ms/step - loss: -314168377344.0000 - accuracy: 1.0000
Epoch 21/30
804/804 [==============================] - 2s 3ms/step - loss: -356902076416.0000 - accuracy: 1.0000
Epoch 22/30
804/804 [==============================] - 2s 3ms/step - loss: -418207170560.0000 - accuracy: 1.0000
Epoch 23/30
804/804 [==============================] - 3s 3ms/step - loss: -427278565376.0000 - accuracy: 1.0000
Epoch 24/30
804/804 [==============================] - 3s 3ms/step - loss: -547181690880.0000 - accuracy: 1.0000
Epoch 25/30
804/804 [==============================] - 4s 5ms/step - loss: -541165092864.0000 - accuracy: 1.0000
Epoch 26/30
804/804 [==============================] - 3s 3ms/step - loss: -645233246208.0000 - accuracy: 1.0000
Epoch 27/30
804/804 [==============================] - 3s 3ms/step - loss: -652631146496.0000 - accuracy: 1.0000
Epoch 28/30
804/804 [==============================] - 3s 3ms/step - loss: -911785394176.0000 - accuracy: 1.0000
Epoch 29/30
804/804 [==============================] - 3s 3ms/step - loss: -968237383680.0000 - accuracy: 1.0000
Epoch 30/30
804/804 [==============================] - 3s 3ms/step - loss: -1012264534016.0000 - accuracy: 1.0000

#### Alternative Model 2

In [37]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [38]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 116

In [39]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58

In [40]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2  + 1) // 2

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

29

In [41]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [42]:
# First hidden layer
nn_A2.add(Dropout(0.4, input_shape=(number_output_neurons_A1,)))
nn_A2.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_output_neurons_A1, activation="relu"))
# second hidden layer
nn_A2.add(Dense(hidden_nodes_layer2_A1, activation="relu"))
# Third hidden layer
nn_A2.add(Dense(hidden_nodes_layer3_A1, activation="relu"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A1, activation="softmax"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dropout_1 (Dropout)         (None, 116)               0

 dense_7 (Dense)             (None, 58)                6786

 dense_8 (Dense)             (None, 29)                1711

 dense_9 (Dense)             (None, 15)                450

 dense_10 (Dense)            (None, 116)               1856

=================================================================
Total params: 10,803
Trainable params: 10,803
Non-trainable params: 0
_________________________________________________________________

In [43]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [44]:
# Fit the model
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=25)

Epoch 1/25
804/804 [==============================] - 3s 3ms/step - loss: -1283319398400.0000 - accuracy: 1.0000
Epoch 2/25
804/804 [==============================] - 2s 3ms/step - loss: -1105216143360.0000 - accuracy: 1.0000
Epoch 3/25
804/804 [==============================] - 3s 3ms/step - loss: -1557064581120.0000 - accuracy: 1.0000
Epoch 4/25
804/804 [==============================] - 3s 3ms/step - loss: -1827316301824.0000 - accuracy: 1.0000
Epoch 5/25
804/804 [==============================] - 3s 3ms/step - loss: -1624496144384.0000 - accuracy: 1.0000
Epoch 6/25
804/804 [==============================] - 3s 3ms/step - loss: -1866226728960.0000 - accuracy: 1.0000
Epoch 7/25
804/804 [==============================] - 3s 3ms/step - loss: -2612539686912.0000 - accuracy: 1.0000
Epoch 8/25
804/804 [==============================] - 4s 4ms/step - loss: -2906151190528.0000 - accuracy: 1.0000
Epoch 9/25
804/804 [==============================] - 3s 4ms/step - loss: -2915794157568.0000 - accuracy: 1.0000
Epoch 10/25
804/804 [==============================] - 3s 3ms/step - loss: -3352087494656.0000 - accuracy: 1.0000
Epoch 11/25
804/804 [==============================] - 3s 3ms/step - loss: -3562320691200.0000 - accuracy: 1.0000
Epoch 12/25
804/804 [==============================] - 3s 3ms/step - loss: -2601173123072.0000 - accuracy: 1.0000
Epoch 13/25
804/804 [==============================] - 2s 3ms/step - loss: -3155804553216.0000 - accuracy: 1.0000
Epoch 14/25
804/804 [==============================] - 2s 3ms/step - loss: -4290069921792.0000 - accuracy: 1.0000
Epoch 15/25
804/804 [==============================] - 3s 3ms/step - loss: -4219144503296.0000 - accuracy: 1.0000
Epoch 16/25
804/804 [==============================] - 2s 3ms/step - loss: -5486177943552.0000 - accuracy: 1.0000
Epoch 17/25
804/804 [==============================] - 2s 3ms/step - loss: -5814859857920.0000 - accuracy: 1.0000
Epoch 18/25
804/804 [==============================] - 3s 3ms/step - loss: -6520404180992.0000 - accuracy: 1.0000
Epoch 19/25
804/804 [==============================] - 3s 3ms/step - loss: -6792450408448.0000 - accuracy: 1.0000
Epoch 20/25
804/804 [==============================] - 3s 3ms/step - loss: -6769922801664.0000 - accuracy: 1.0000
Epoch 21/25
804/804 [==============================] - 3s 3ms/step - loss: -7865550503936.0000 - accuracy: 1.0000
Epoch 22/25
804/804 [==============================] - 2s 3ms/step - loss: -8144684056576.0000 - accuracy: 1.0000
Epoch 23/25
804/804 [==============================] - 3s 3ms/step - loss: -9049344049152.0000 - accuracy: 1.0000
Epoch 24/25
804/804 [==============================] - 3s 3ms/step - loss: -9890239086592.0000 - accuracy: 1.0000
Epoch 25/25
804/804 [==============================] - 3s 3ms/step - loss: -10278783680512.0000 - accuracy: 1.0000

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [45]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: -1.8572e+11 - accuracy: 1.0000 - 543ms/epoch - 2ms/step
Loss: -185718718464.0, Accuracy: 1.0

In [46]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: -8.3132e+12 - accuracy: 1.0000 - 719ms/epoch - 3ms/step
Loss: -8313230589952.0, Accuracy: 1.0

In [47]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 3245.5957 - accuracy: 0.0000e+00 - 867ms/epoch - 3ms/step
Loss: 3245.595703125, Accuracy: 0.0

### Step 3: Save each of your alternative models as an HDF5 file.

In [48]:
# Set the file path for the first alternative model
file_path = "AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)

# Download the model to your computer
files.download(file_path)

In [49]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save(file_path)

# Download the model to your computer
files.download(file_path)